body{
    background:url(img/body_bg.png) repeat-y center center scroll;
	font-size:12px;
	margin:0;
	padding:0;
	list-style:none;
	list-style-type:none;
    color:#760A10;
	font-family:Microsoft YaHei;
	line-height:1.6;
}
a{
    color:#760A10;
	text-decoration:none;
}
a:hover{
    color:#DBB747;
}
ul,ul li{
    margin:0;
	padding:0;
	list-style-type:none;
}
h2{
    margin:0;
	padding:0;
}
#head{
    width:100%;
	height:217px;
	background-color:#EFEFEF;
}
#flash{
    width:954px;
	height:314px;
	background-color:#8A0A10;
	border:3px #F0F0F0 solid;
	text-align:center;
	line-height:320px;
	color:#FFFFFF;
	margin:56px auto 0px;
	overflow:hidden;
}
#position{
    width:960px;
	height:135px;
	margin:0px auto 0;
	position:relative;
	background:url(img/position_bg.png) repeat-x 0 0 scroll;
}
#position h2.location{
    width:281px;
	height:135px;
	background:url(img/contact_bg.png) no-repeat 0 0 scroll;
	position:absolute;
	left:0;
	top:0;
}
#position h2.location p{
    font-size:12px;
	margin:0;
	margin-top:94px;
	margin-left:24px;
}
#position h2.location p a.first{
    margin-left:0;
}
#position h2.location p a{
    margin-right:4px;
	margin-left:4px;
}
#position h2.location p a.now{
    border-bottom:1px #DBB747 dashed;
	color:#DBB747;
}
#position h2.location p a:hover{
    border-bottom:1px #DBB747 dashed;
}
#container{
    width:100%;
	background:url(img/r_06.png) no-repeat center 64px scroll;
}
.content{
    width:960px;
	height:323px;
	margin:0 auto;
	margin-top:20px;
	background:url(img/a10.png) no-repeat -1px 0 scroll;
}
.sep{
    width:960px;
	height:15px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:40px;
	background:url(img/sep_bg.png) repeat-x 0 0 scroll;    
}	
.map{
    width:0px;
	height:257px;
	float:left;
	margin:30px 0 0 40px;
	border:1px #CCCCCC solid;
}
.contact{
    width:520px;
	float:left;
	margin:0px auto 0;
	height:257px;
	padding-top:100px;
	padding-left:10px;
	margin-left:40px;
	background:url(img/contactus.png) no-repeat 0 30px scroll;
	font-size:14px;
	color:#DBB747;
	cursor:default;
	line-height:1.5;

}
.contact ul li{
    position:relative;
	border-left:4px #7C2A24 solid;
}
.contact ul li:hover{
    position:relative;

	border-left:4px #DBB747 solid;
	background-color:#760A10;
	color:#FFFFFF;
}	
	
	
	


#foot{
    width:100%;
	height:121px;
	background:url(img/foot.png) repeat-x 0 0 scroll;
	margin-top:70px;
	text-align:center;
	line-height:121px;
	color:#FFFFFF;
}