	
	
body{
    background:url(img/body_bg.png) repeat-y center center scroll;
	font-size:12px;
	margin:0;
	padding:0;
	list-style:none;
	list-style-type:none;
    color:#760A10;
	font-family:Microsoft YaHei;
	line-height:1.6;
}
a{
    color:#760A10;
	text-decoration:none;
}
a:hover{
    color: #DBB747 ;
}
ul,ul li{
    margin:0;
	padding:0;
	list-style-type:none;
}
h2{
    margin:0;
	padding:0;
}
#head{
    width:100%;
	height:217px;
	background-color:#EFEFEF;
}
#flash{
    width:954px;
	height:314px;
	background-color:#8A0A10;
	border:3px #F0F0F0 solid;
	text-align:center;
	line-height:320px;
	color:#FFFFFF;
	margin:56px auto 0px;
	overflow:hidden;
}
#position{
    width:960px;
	height:135px;
	margin:0px auto 0;
	position:relative;
	background:url(img/position_bg.png) repeat-x 0 0 scroll;
}
#position h2.location{
    width:281px;
	height:135px;
	background:url(img/product_bg.png) no-repeat 0 0 scroll;
	position:absolute;
	left:0;
	top:0;
}
#position h2.location p{
    font-size:12px;
	margin:0;
	margin-top:94px;
	margin-left:24px;
}
#position h2.location p a.first{
    margin-left:0;
}
#position h2.location p a{
    margin-right:4px;
	margin-left:4px;
}
#position h2.location p a.now{
    border-bottom:1px #DBB747 dashed;
	color:#DBB747;
}
#position h2.location p a:hover{
    border-bottom:1px #DBB747 dashed;
}
#container{
    width:100%;
	background:url(img/r_06.png) no-repeat center 580px scroll;
}
.sep{
    width:960px;
	height:15px;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:40px;
	background:url(img/sep_bg.png) repeat-x 0 0 scroll;    
}
.left{
    width:210px;
	height:290px;
	background-color:#DBB747;
	float:left;
}
.left img{
    display:block;
	margin:4px auto;
}	
.right{
    width:330px;
	height:290px;
	float:right;
	color:#CCCCCC;
}
.right h5{
    padding:8px 14px;
	text-align:center;
	color:#FFFFFF;
	background-color: #DBB747;
	margin:0;
	margin-bottom:8px; 
}
.about{
    width:540px;
	border-top:1px #CCCCCC dashed;
	border-bottom:1px #CCCCCC dashed;
	margin-top:10px;
	padding-top:6px;
	color:#DBB747;
}
.right p{
    margin:0;
	margin-top:0px;
}
	
	
        .nTab
        {
            width: 960px;
            margin: 20px auto 0;
            overflow: hidden;
        }
		.TabTitle{
		    width:329px;
			float:left;
			padding-top:60px;
			height:338px;
			background:url(img/c3_03.png) no-repeat 0 0 scroll;
	
		} 
        .none
        {
            display: none;
        }
        .nTab .TabTitle li
        {
            height:60px;
            width:250px;
			text-align:center;
			color:#FFFFFF;
			font-size:14px;
			line-height:60px;		
        }
		
        .nTab .TabTitle li a
        {
            text-decoration: none;
			cursor:default;
			color:#FFFFFF;
			font-weight:bold;
			font-size:12px;
        }
        .nTab .TabTitle .active
        {
           background:url(img/liactive.png) no-repeat 0 -60px scroll;
        }
		.nTab .TabTitle li.normal:hover{
		    background:url(img/liactive.png) no-repeat 0 -60px scroll;
		}
        .nTab .TabContent
        {   
		    float:left;
			width:551px;
            overflow: hidden;
            display: block;
            height:464px;
			padding:40px;
			background:url(img/e_03.png) no-repeat 0 0 scroll;
        }
.nTab .TabContent h3{
    width:84px;
	height:45px;
	padding-top:1px;
	padding-left:4px;
	color:#FFFFFF;
	background:url(img/h3bg.png) no-repeat 0 0 scroll;
}
.nTab .TabContent p.title{
    width:100%;
	padding:2px;
	border:1px #DBB747 dashed;
	font-size:11px;
	color:#CCCCCC;
	line-height:1.4;
	font-family:Microsoft YaHei;
	margin-bottom:10px;
}
.nTab .TabContent ul li{
    font-size:12px;
	color:#DBB747;
	width:100%;
	height:24px;
	font-size:12px;
}
.nTab .TabContent ul li span{
    color:#cccccc; 
}

.product_show_box{
    width:960px;
	height:301px;
	margin:0 auto;
	position:relative;
	top:-120px;
	background:url(img/c3_09.png) no-repeat  0 0 scroll;
}








#foot{
    width:100%;
	height:121px;
	background:url(img/foot.png) repeat-x 0 0 scroll;
	margin-top:70px;
	text-align:center;
	line-height:121px;
	color:#FFFFFF;
}
.clr{
    clear:both;
}