/* Elastislide Style */
.es-carousel-wrapper{
	background:url(img/c3_09.png) no-repeat 0 0 scroll;
	margin:0 auto;
	margin-top:100px;
	width:960px;
	height:301px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
	overflow:hidden;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	margin-top:30px;
	margin-left:82px;
}
.es-carousel ul li a{
	display:block;
	width:210px;
}
.es-carousel ul li a img{
	display:block;
	border:none;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:16px;
	background:transparent url(img/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:16px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}